.value {
	font-weight: bold;
	font-size: 2rem;
	&.down {
		&::before {
			content: "\f01a";
			color: #f03154;
		}
	}
	&.up {
		&::before {
			content: "\f01b";
			color: #3292e0;
		}
	}
    &::before {
        font-family: $icon-font;
        font-size: 2rem;
        vertical-align: baseline;
        margin-right: 0.5rem;
    }
}

.card {
	width: 100%;
}

.charts {
	.value {
		position: relative;
	    z-index: 10;
	    text-align: right;
	    right: 30px;
	    font-size: 1.5rem;
	    &::before {
	    	font-size: 1.5rem;
	    }
	}
	.title-char {
		font-size: 1rem;
		font-weight: bold;
		color: $black;
		text-align: left;
		left: 30px;
	}
}
