
body {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/*global*/

ul,
label {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

* {
  outline: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.img-circle {
  border-radius: 50%;
}

.dropdown-toggle {
  &::after {
    display: none !important;
  }
}


/*desfoque*/

.blurry {
  color: transparent;
  text-shadow: 0 0 .8rem rgba(0, 0, 0, 0.5);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*stepmenu */

.step-menu-v {
  position: fixed;
  width: 10.5rem;
  padding: 0;
  top: 7.2rem;
  border-top: .1rem solid #ccc;
  @include transition (.5s);
  .step-item {
    border-left: .1rem solid #ccc;
    border-right: .1rem solid #ccc;
    list-style-type: none;
    padding-top: 2rem;
    text-align: center;
    position: relative;
    font-size: .8rem;
    background-color: #F0F0F0;
    &.active {
      font-weight: bold;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: $blue-light;
      &::after {
        border-top: 20px solid $blue-light;
      }
    }
    &.idle {
      background-color: #DEDEDE;
      &::after {
        border-top: 20px solid #DEDEDE;
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 5.2rem solid transparent;
      border-right: 5.2rem solid transparent;
      border-top: 20px solid #F0F0F0;
      clear: both;
      z-index: 1;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 103%;
      width: 0;
      height: 0;
      border-left: 5.2rem solid transparent;
      border-right: 5.2rem solid transparent;
      border-top: 20px solid #ccc;
      clear: both;
      z-index: 1;
    }
    a {
      text-decoration: none;
      color: #000;
      span {
        &:first-child {
          display: none;
        }
      }
    }
  }
  &.scrolled {
    top: 5.4rem;
  }
}

.setas {
  // todo arrumar um pai para este cara
  height: 2rem;
}

.side-menu {
  width: 23rem;
  position: fixed;
  right: 0;
  top: 7.2rem;
  width: 23rem;
  z-index: 1;
  @include shadow(2px 2px 3px 3px rgba(0, 0, 0, .1));
  @include transition ( .5s);
  h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  label {
    background-color: $gray;
  }
  .btn,
  ul {
    font-size: .8rem;
  }
  .card-header {
    margin: 0;
    background-color: $gray;
    i {
      color: #0092d0;
    }
  }
  .btn-profile {
    background: $black;
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 15rem;
    color: #fff;
    margin-left: -1rem;
    padding-top: .1rem;
    cursor: pointer;
    @include border-radius(.3rem);
  }
  .profile-img {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  &.closed {
    width: 3.7rem;
    .profile-img {
      width: 3rem;
      height: 3rem;
      margin-top: 1rem;
      margin-bottom: 0;
    }
    .hide-on-close {
      visibility: hidden;
    }
    .card-header {
      a {
        display: block;
        float: left;
        margin-left: -0.3rem;
        i {
          font-size: 2.2rem;
        }
      }
    }
    h5.card-title {
      font-size: .7rem;
      margin: 0 0 0 -.5rem;
    }
  }
  &.scrolled {
    top: 4.5rem;
  }
}

.card-title {
  margin-bottom: 1rem;
  display: block;
}


/*menu historico*/

.history-menu {
  height: 3.5rem;
  z-index: 1;
  line-height: .8rem;
  position: fixed;
  width: inherit;
  top: 8.6rem;
  @include shadow(2px 2px 3px 0px rgba(0, 0, 0, .3));
  p {
    margin-bottom: 0;
    font-size: .8rem;
  }
  .slides li {
    height: 3.5rem;
    cursor: pointer;
    padding-top: .6rem;
    &:hover {
      background-color: $blue-darker;
    }
    &:after {
      content: " ";
      position: absolute;
      top: 0;
      width: 2px;
      height: 3.5rem;
      background-color: $blue;
    }
  }
  .flex-direction-nav li a {
    background-color: #87C3E8;
    top: 0;
    height: 3.5rem;
    width: 3rem;
    margin: 0;
    color: #fff;
    text-align: center;
    z-index: 3;
    padding-top: 1.3rem;
  }
  .history-info {
    position: absolute;
    margin-top: 3.5rem;
    color: #000;
    visibility: visible;
    opacity: 1;
    width: 100%;
    @include shadow(2px 2px 3px 0px rgba(0, 0, 0, .3));
    @include transition (.5s);
    &.closed {
      visibility: hidden;
      opacity: 0;
    }
    .card {
      @include shadow(none);
      background-color: transparent;
    }
    label {
      font-size: .8rem;
    }
    p {
      font-size: .76em;
    }
    ul {
      li {
        i {
          float: left;
          margin-right: .5rem;
        }
      }
    }
  }
  &.scrolled {
    top: 5.4rem;
  }
  &:before {
    background-color: $blue-medium;
    color: #fff;
    content: "HISTÓRICO";
    font-size: 0.7rem;
    font-weight: bold;
    height: 1.4rem;
    padding-left: 0.3rem;
    padding-top: 0.35rem;
    position: absolute;
    top: -1.4rem;
    width: 100%;
    @include shadow(2px 2px 3px 0px rgba(0, 0, 0, .3));
  }
}


/* Waves Effect*/

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }
}

.waves-effect.waves-light {
  .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
}

.waves-effect.waves-red {
  .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
  }
}

.waves-effect.waves-yellow {
  .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
  }
}

.waves-effect.waves-orange {
  .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
  }
}

.waves-effect.waves-purple {
  .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
  }
}

.waves-effect.waves-green {
  .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
  }
}

.waves-effect.waves-teal {
  .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
  }
}

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
  .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.waves-block {
  display: block;
}

//preloader
.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: .8;
  background: #fff;
  z-index: 50;
  svg {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.path {
  padding: 10px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

