// Small devices (landscape phones, 544px and up)
@media (max-width: 544px) {  }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	#wrapper {
		.header {
			.content-right {
				.fullscreen {
					display: none;
				}
				.perfil {
					.profile {
						padding-top: 0.9rem;
					}
					.profile-username {
						display: none;
					}
				}
				.dropdown-menu {
					right: 0;
					left: initial;
				}
				.search {
					position: fixed;
    				left: 2.9rem;
    				top: 0;
				}
			}
		}

		.title-page-mobile {
			display: block;
			top: 4rem;
		}

		.menu-fundo {
			&.toggle-close {
				width: 0;
			}
		}

		.overlay {
			&.toggle-close {
	            display: none;
	            opacity: 0;
	            -webkit-transition: .3s;
	            transition: .3s;
	        }
	        &.toggle-open {
	            display: block;
	            opacity: 0.5;
	            -webkit-transition: .3s;
	            transition: .3s;
	            z-index: 16;
	        }
		}

		.menu {
			width: 0;
			&.toggle-close {
	            width: 0;
	            -webkit-transition: .3s;
				transition: .3s;
	        }
	        &.toggle-open {
	            width: 15rem;
	            -webkit-transition: .3s;
				transition: .3s;
	        }
			.logo {
				visibility: hidden;
				&.toggle-close {
		            visibility: hidden;
		        }
		        &.toggle-open {
		            visibility: visible;
		        }
			}
			.title-page {
				display: none;
			}
			.menu-button {
				&.toggle-close {
	            	left: 0.6rem;
				    -webkit-transition: .3s;
				    transition: .3s;
		        }
		        &.toggle-open {
		            left: 15.69rem;
				    -webkit-transition: .3s;
				    transition: .3s;
		        }
			}
		}

		.container-fluid {
			.content {
				padding-left: 0;
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { }