$white-color: #ffffff;
$blue-header: #222e3a;
$black: #000000;

//variables

  //drc brandbook colors

  $drc-dark-blue : #1165a6;
  $drc-medium-blue : #33a3dc;
  $drc-light-blue : #8ad0c5;
  $drc-lighter-blue: #e4f1fc;

  $drc-dark-gray : #65656a;
  $drc-medium-gray : #8b8b90;
  $drc-light-gray: #c8c8ce;

  $drc-yellow: #ffcc32;
  $drc-orange: #f89e55;

  //colors 
  $white-color: #ffffff;

  $blue:#59A1DB;
  $blue-dark:#3985BD;
  $blue-darker:#00578B;
  $blue-medium:#59A1DB;
  $blue-medium-dark: #4a5869;
  $blue-light: #f1f8ff;

  $gray:#F1F1F1;
  $gray-light: #f5f5f5;
  $gray-dark:#DDD;
  $gray-light: #e8e8e8;


.blue-bkg{
  background-color:$blue;
}
.blue-light-bkg{
  background-color:$blue-light;
}
.blue-medium-bkg{
  background-color:$blue-medium;
}
.blue-dark-bkg{
	background-color:$blue-dark;
}
.gray-bkg{
  background-color:$gray;
}
.gray-light-bkg{
  background-color:$gray-light;
}

.gray-dark-bkg{
  background-color:$gray-dark;
}
//cores letras

.white-text{
	color:$white-color;
}
.blue-medium-dark-text {
  color: $blue-medium-dark;
}

//fontes
$icon-font:'FontAwesome';


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
       box-shadow: $value;
}
