$white-color: #ffffff;

//variables


  /*drc brandbook colors

  $drc-dark-blue : #1165a6;
  $drc-medium-blue : #33a3dc;
  $drc-light-blue : #8ad0c5;
  $drc-lighter-blue: #e4f1fc;

  $drc-dark-gray : #65656a;
  $drc-medium-gray : #8b8b90;
  $drc-light-gray: #c8c8ce;

  $drc-yellow: #ffcc32;
  $drc-orange: #f89e55;*/

  $blue:#59A1DB;
  $drc-azul:#59A1DB;

  $gray:#DDD;

  
  //cores class
.drc-azul-1{
  background-color:$blue;
}


