$white-color: #ffffff;
$blue-header: #222e3a;

//variables

  /*drc brandbook colors

  $drc-dark-blue : #1165a6;
  $drc-medium-blue : #33a3dc;
  $drc-light-blue : #8ad0c5;
  $drc-lighter-blue: #e4f1fc;

  $drc-dark-gray : #65656a;
  $drc-medium-gray : #8b8b90;
  $drc-light-gray: #c8c8ce;

  $drc-yellow: #ffcc32;
  $drc-orange: #f89e55;*/

  $blue:#59A1DB;
  $gray:#F1F1F1;

  
  //cores class
.drc-azul-1{
  background-color:$blue;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
       box-shadow: $value;
}
