@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|Roboto:500|Crete+Round:400i');
@import 'variables';
@import 'slider';
@import 'header';
@import 'menu';
@import 'content';
@import 'dashboard';
@import 'custom';
@import 'mobile';

body {
	font-family: 'PT Sans Caption',sans-serif;
  font-size: 14px;
  background-color:#F5F5F5;
}

/*global*/

ul,label{
  margin:0;
  padding:0;
}
li{
  list-style-type:none;
}

.text-center {
  text-align: center;
}

* {
  outline: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.img-circle {
  border-radius: 50%;
}

.dropdown-toggle {
  &::after {
    display: none !important;
  }
}

/*desfoque*/

.blurry{
color: transparent;
text-shadow: 0 0 .8rem rgba(0,0,0,0.5);
pointer-events:none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


/*step menu horizontal*/
/*stepmenu */

.step-menu-h{
  padding:0;
  border:.1rem solid #ccc 0;
 .step-item{
  list-style-type:none;
  padding-top:1rem;
  padding-left:2rem;
  text-align:center;
  position:relative;
  width:3rem;
  float:left;
  height:3rem;
  font-size:.8rem;
  background-color:#F0F0F0;
    span{
      display:none;
    }
  &.active{
     font-weight:bold;
     width:8rem;
        span{
          display:block;
          float:right;
        }
  }
  &.idle{
     background-color:#DEDEDE;
       &::after{
        border-color:transparent #DEDEDE;
      }
      span{
        display:none;
      }
  }
   &::after{
    content: '';
    position: absolute;
    width: 0;
    top:0;
    left:.2rem;
    height: 0;
    border-style: solid;
    border-width: 1.5rem 0 1.5rem 1.5rem;
    border-color: transparent transparent transparent #F0F0F0;
    clear: both;
    z-index:2;
  }
  &::before{
    content: '';
    position: absolute;
    width: 0;
    top:0;
    left:.3rem;
    height: 0;
    border-style: solid;
    border-width: 1.5rem 0 1.5rem 1.5rem;
    border-color: transparent transparent transparent #ccc;
    clear: both;
    z-index:1;
    }
    &:first-child{
      padding-left:1.6rem;
      width: 2.5rem;
      &::before{
        border-width:0;
      }
    }
    &:last-child{
      width:4rem;
    }
  }
}

/*stepmenu */

.step-menu-v{
position:fixed;
width:10.5rem;
padding:0;
top:64px;
border-top:.1rem solid #ccc;
 .step-item{
  border-left:.1rem solid #ccc;
  border-right:.1rem solid #ccc;
  list-style-type:none;
  padding-top:2rem;
  text-align:center;
  position:relative;
  font-size:.8rem;
  background-color:#F0F0F0;
  &.active{
     font-weight:bold;
     padding-left:1rem;
     padding-right:1rem;
  }
  &.idle{
     background-color:#DEDEDE;
     &::after{
      border-top: 20px solid #DEDEDE;
     }
  }
   &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5.2rem solid transparent;
    border-right: 5.2rem solid transparent;
    border-top: 20px solid #F0F0F0;
    clear: both;
    z-index:1;
  }
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 103%;
    width: 0;
    height: 0;
    border-left: 5.2rem solid transparent;
    border-right: 5.2rem solid transparent;
    border-top: 20px solid #ccc;
    clear: both;
    z-index:1;
    }
    a{
      text-decoration:none;
      color:#000;
    }
  }
}



.side-menu{
    width:23rem;
    position: fixed;
    right: 0;
    top: 4rem;
    width: 23rem;
    z-index: 1;
  h3{
    font-size:1.5rem;
    margin:0;
  }

  label{
    background-color:$gray;
  }
  .btn,ul{
    font-size:.8rem;
  }
  .card-header{
    margin:0;
    background-color:$gray;
     i{
       color:#0092d0;
     }
  }
  .btn-profile{
    background:$black;
    position:absolute;
    height:3rem;
    width:3rem;
    top:15rem;
    color:#fff;
    margin-left:-1rem;
    padding-top:.1rem;
    cursor:pointer;
    @include border-radius(.3rem);
  }
  .profile-img{
    margin-top:3rem;
    margin-bottom:1rem;
  }
  &.closed{
    width:3.7rem;
    .profile-img{
      width:3rem;
      height:3rem;
      margin-top:1rem;
      margin-bottom:0;
    }
    .hide-on-close{
      visibility:hidden;
     }
     .card-header{
      a{
        display:block;
        float:left;
        margin-left: -0.3rem;
        i{
          font-size:2.2rem;
        }
      }
     }
     h5.card-title{
      font-size:.7rem;
      margin:0 0 0 -.5rem;
     }
  }
}


/*menu historico*/

.history-menu{
    height:4rem;
    z-index:1;
    p{
    margin-bottom:0;
    font-size:.9rem;
    line-height:1rem;
  }
   .slides li{
   // margin:0 4px; // necessário ser px para slider
   //border-right:1px solid #87C3E8; // necessário ser px para slider
    height:4rem;
    cursor:pointer;
    &:hover{
      background-color:$blue-darker;
    }
  }
    .flex-direction-nav li a{
    background-color:#87C3E8;
    top:0;
    height:4rem;
    width:3rem;
    margin:0;
    color:#fff;
    text-align: center;
    padding-top:.1rem;
    z-index:3;
  }
  .flex-direction-nav .flex-nav-next a{
    @include shadow(-41px 5px 27px -9px rgba(14,80,115,0.71)) 
  }
  .flex-direction-nav .flex-nav-prev a{
    @include shadow(43px 5px 27px -9px rgba(14,80,115,0.71)) 
  }
  .history-info{
    background-color:#fff;
    position:absolute;
    margin-top:4rem;
    color:#000;
    background-color:#000;
  }
}

/* Waves Effect*/

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
      .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        pointer-events: none;
    }
}

.waves-effect.waves-light {
    .waves-ripple {
        background-color: rgba(255, 255, 255, 0.45);
    }
}
.waves-effect.waves-red {
    .waves-ripple {
        background-color: rgba(244, 67, 54, 0.7);
    }
}
.waves-effect.waves-yellow {
    .waves-ripple {
        background-color: rgba(255, 235, 59, 0.7);
    }
}
.waves-effect.waves-orange {
    .waves-ripple {
        background-color: rgba(255, 152, 0, 0.7);
    }
}
.waves-effect.waves-purple {
    .waves-ripple {
        background-color: rgba(156, 39, 176, 0.7);
    }
}
.waves-effect.waves-green {
    .waves-ripple {
        background-color: rgba(76, 175, 80, 0.7);
    }
}
.waves-effect.waves-teal {
    .waves-ripple {
        background-color: rgba(0, 150, 136, 0.7);
    }
}
.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
    .waves-button-input {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
.waves-block {
    display: block;
}

//preloader

.loading {
  position:fixed;
  height:100%;
  width:100%;
  bottom:0;
  top:0;
  left:0;
  right:0;
  opacity:.8;
  background:#fff;
  z-index: 50;
    svg{
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin:auto;
  }
}

.path {
  padding:10px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear infinite; 
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}