@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|Roboto:500|Crete+Round:400i');
@import 'variables';
@import 'slider';
@import 'header';
@import 'menu';
@import 'content';
@import 'custom';

body {
	font-family: 'PT Sans Caption',sans-serif;
  font-size: 14px;
  background-color:#F5F5F5;
}

#wrapper {
	height: 100%;
  overflow: hidden;
  width: 100%;
}

//cores class
.drc-azul-1{
  background-color:$drc-azul;
}

/*global*/

ul{
  margin:0;
  padding:0;
}
li{
  list-style-type:none;
}

.text-center {
  text-align: center;
}

* {
  outline: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

/*desfoque*/

.blurry{
color: transparent;
text-shadow: 0 0 .8rem rgba(0,0,0,0.5);
pointer-events:none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/*stepmenu */

.step-menu-v{
width:12.5rem;
padding:0;
border-top:.1rem solid #ccc;
 .step-item{
  border-left:.1rem solid #ccc;
  border-right:.1rem solid #ccc;
  list-style-type:none;
  padding-top:2rem;
  text-align:center;
  position:relative;
  font-size:.8rem;
  background-color:#F0F0F0;
  &.active{
     font-weight:bold;
  }
  &.idle{
     background-color:#DEDEDE;
     &::after{
      border-top: 20px solid #DEDEDE;
     }
  }
   &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 20px solid #F0F0F0;
    clear: both;
    z-index:1;
  }
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 103%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 20px solid #ccc;
    clear: both;
    z-index:1;
    }
  }
}

.side-menu i{
color:#0092d0;
}

/*menu historico*/

.history-menu{
  background-color:#3985BD;
  height:4rem;
  color:#fff;
    p{
    margin-bottom:0;
    font-size:.9rem;
    line-height:1rem;
  }
   .slides li{
    padding-left:.4rem;
    height:4rem;
    border-right:.1rem solid #87C3E8;
    cursor:pointer;
  }
    .flex-direction-nav li a{
    background-color:#87C3E8;
    top:0;
    height:4rem;
    width:3rem;
    margin:0;
    color:#fff;
    text-align: center;
    padding-top:.1rem;
  }
  .flex-direction-nav .flex-nav-next a{
    -webkit-box-shadow: -41px 5px 27px -9px rgba(14,80,115,0.71);
    -moz-box-shadow: -41px 5px 27px -9px rgba(14,80,115,0.71);
    box-shadow: -41px 5px 27px -9px rgba(14,80,115,0.71);
  }
  .flex-direction-nav .flex-nav-prev a{
    -webkit-box-shadow: 43px 5px 27px -9px rgba(14,80,115,0.71);
    -moz-box-shadow: 43px 5px 27px -9px rgba(14,80,115,0.71);
    box-shadow: 43px 5px 27px -9px rgba(14,80,115,0.71);
  }
}

/* Waves Effect*/

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
      .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        pointer-events: none;
    }
}

.waves-effect.waves-light {
    .waves-ripple {
        background-color: rgba(255, 255, 255, 0.45);
    }
}
.waves-effect.waves-red {
    .waves-ripple {
        background-color: rgba(244, 67, 54, 0.7);
    }
}
.waves-effect.waves-yellow {
    .waves-ripple {
        background-color: rgba(255, 235, 59, 0.7);
    }
}
.waves-effect.waves-orange {
    .waves-ripple {
        background-color: rgba(255, 152, 0, 0.7);
    }
}
.waves-effect.waves-purple {
    .waves-ripple {
        background-color: rgba(156, 39, 176, 0.7);
    }
}
.waves-effect.waves-green {
    .waves-ripple {
        background-color: rgba(76, 175, 80, 0.7);
    }
}
.waves-effect.waves-teal {
    .waves-ripple {
        background-color: rgba(0, 150, 136, 0.7);
    }
}
.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
    .waves-button-input {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
.waves-block {
    display: block;
}