@import 'header';
@import 'menu';
@import 'content';
@import 'custom';

body {
	text-align: left;
}

#wrapper {
	height: 100%;
    overflow: hidden;
    width: 100%;
}

//variables


  /*drc brandbook colors

  $drc-dark-blue : #1165a6;
  $drc-medium-blue : #33a3dc;
  $drc-light-blue : #8ad0c5;
  $drc-lighter-blue: #e4f1fc;

  $drc-dark-gray : #65656a;
  $drc-medium-gray : #8b8b90;
  $drc-light-gray: #c8c8ce;

  $drc-yellow: #ffcc32;
  $drc-orange: #f89e55;*/


/*global*/

body{
  background-color:#F5F5F5;
}
ul{
  margin:0;
  padding:0;
}
li{
  list-style-type:none;
}

.blurry{
color: transparent;
text-shadow: 0 0 .8rem rgba(0,0,0,0.5);
pointer-events:none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.step-menu-v{
width:12.5rem;
padding:0;
border-top:.1rem solid #ccc;
  .step-item{
  border-left:.1rem solid #ccc;
  border-right:.1rem solid #ccc;
  list-style-type:none;
  padding-top:1.5rem;
  text-align:center;
  position:relative;
  font-size:.8rem;
  background-color:#F0F0F0;
  &.active{
     font-weight:bold;
  }
  &.idle{
     background-color:#DEDEDE;
     &::after{
      border-top: 20px solid #DEDEDE;
     }
  }
   &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 20px solid #F0F0F0;
    clear: both;
    z-index:1;
  }
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 103%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 20px solid #ccc;
    clear: both;
    z-index:1;
    }
  }
}

.side-menu i{
color:#0092d0;
}

.history-menu{
  background-color:#3985BD;
  height:4rem;
  color:#fff;
    p{
    margin-bottom:0;
    font-size:.9rem;
    line-height:1rem;
  }
   .slides li{
    padding-left:.4rem;
    height:4rem;
    border-right:.1rem solid #87C3E8;
    cursor:pointer;
  }
    .flex-direction-nav li a{
    background-color:#87C3E8;
    top:0;
    height:4rem;
    width:3rem;
    margin:0;
    color:#fff;
    text-align: center;
    padding-top:.1rem;
  }
  .flex-direction-nav .flex-nav-next a{
    -webkit-box-shadow: -41px 5px 27px -9px rgba(14,80,115,0.71);
    -moz-box-shadow: -41px 5px 27px -9px rgba(14,80,115,0.71);
    box-shadow: -41px 5px 27px -9px rgba(14,80,115,0.71);
  }
  .flex-direction-nav .flex-nav-prev a{
    -webkit-box-shadow: 43px 5px 27px -9px rgba(14,80,115,0.71);
    -moz-box-shadow: 43px 5px 27px -9px rgba(14,80,115,0.71);
    box-shadow: 43px 5px 27px -9px rgba(14,80,115,0.71);
  }
}
