@import "variables.less";
@import "elements.less";


/*
File: Responsive
*/

.topbar{
  z-index:99999
}

@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled {
    .right-bar {
      right: 0;
      z-index: 99;
    }
  }
  .dropdown{
    a.profile{
      padding:0 5px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

.topbar{
  z-index:9;
}
  .content-page {
    margin-left: 0 !important;
  }

  .mobile-sidebar {
    left: 0;
  }

  .mobile-content {
    left: 250px;
    right: -250px;
  }

  .page-header-title {
    margin: -20px -5px 23px 66px;
    padding: 10px 15px 100px 19px;
  }

  .wrapper-page {
    width: 90%;
  }

  .navbar-form {
    margin-left: -5px;
        -webkit-transition: 1s;
    transition: 1s;
    .form-control {
      // width: 70%;
    }
  }

  #wrapper.enlarged {
    .topbar .topbar-left {
      width: 71px!important;
    }
  }

  .navbar-nav {
    height: 70px;
    text-align:right;
    .dropdown {
      display: inline-block !important;
    }
    & > li > a{
      float:left!important;
    } 

    .hidden-xs {
      display: inline-block !important;
      #btn-fullscreen {
        display: none !important;
      }
    }

    .open {
      .dropdown-menu {
        background-color: @white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
        left: auto;
        position: absolute;
        right: 0;
      }
    }
  }
    .profile-username {
    display: none !important;
  }

  .profile {
    padding-bottom: 17px!important;
  }
  .nav > li > a {
    padding:0;
  }
}

@media (max-width: 620px) {
  .topbar-left {
    width: 70px !important;
    margin-left:-70px;
  
  }
  .logo {
    display: none !important;
  }
  .logo-sm {
    display: inline-block !important;
  }
  .page-header-title {
    text-align: center;
    padding: 10px 15px 88px 20px;
  }
  #wrapper.enlarged .left.side-menu {
    margin-left:-70px;
      top:0!important;
  }
  .button-menu-mobile {
    margin-left:0
  }
  .sidebar-inner{
    .user-details{
      display:none;
    }
  }
  .page-header-title{
    margin:-20px -5px;
  }
  .topbar{
    left:-1px;
  }

#wrapper{
   &.forced{
    .button-menu-mobile{
     position:fixed;
     left:250px;
     z-index:99;
  }
  &.enlarged{
    .button-menu-mobile{
     position:relative;
     left:0;
    }
  }
 }
}


}



@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }

  .navbar-form .form-control {
    width:100%;

  }
}

@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }

  .navbar-form{
    left:60px;
    position:fixed;
    background:@dark;
    z-index:99999999;
  }
  // .navbar-form {
  //   input.search-bar{
  //     width:45px;
  //     &:focus{
  //    //   width:120px;
  //       -webkit-transition: .5s; 
  //       transition:.5s;
  //     }
  //   }
  // }

}



